*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
header{
    display: flex;
    width: 100%;
    padding: 0 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: 56px;

}
.logo img:hover{
    opacity:0.8 ;
}
.logo img:active{
    opacity: 0.4;
}
.logo img{
    padding-top: 16px;
}
header nav{
    margin-left:120px ;
}
header nav ul{

display: flex;
column-gap: 0px;

}

 header nav ul li{

    display: inline-block;
    width: 129px;
list-style: none;
text-align: center;
/* border: 1px solid red; */

}
header nav ul li .a:hover{
    border-bottom:2px solid black;
}
header nav ul li .a:active{
    background-color: #000000;
    color: white;
    opacity: 0.8;


}
header nav ul li .a{
   
    display: inline-block;
    padding-top: 16px;
    width: 100%;
    height: 56px;
    text-decoration: none;
    color: black;
}
.sub-menu{
display: none;
position: absolute;
    width: 129px;
    height: 216px;
    border-radius: 5px;
    padding: 8px 10px;
z-index: 0;
box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);
background-color: #fff;
}
.sub-menu a{
  
    display: inline-block;
padding: 10px 10px;
text-align: left;
    width: 100%;
    height: 41.7px;
    text-decoration: none;
    color: black;

}
.sub-menu a:hover{
    background-color: rgba(0, 186, 252, 1);
    color: white;
}
.sub-menu a:active{
    background-color: rgba(0, 186, 252, 1);
    opacity: 0.6;
}
header nav ul li:hover .sub-menu{
    display: block;
}
.btn{
margin-top: 13px;
    height: 30px;
color: white;
background: #00BAFC;
padding: 0px 16px;
border-radius: 5px;
border: 2px solid #00BAFC;
}
.btn:hover{
    color: #00BAFC;
    background-color: white;
    border: 2px solid #00BAFC;
}
.btn:active{
    color: white;
    background-color: #66D6FD;
    border: 2px solid #66D6FD;
}
.main{
    padding: 0 50px;
    display: flex;
    column-gap: 200px;
    width: 100%;
    max-width: 1440px;
}
.left p{
    font-weight: 400;
    font-size: 16px;

}
.right{
    margin-top: 80px;
}
.left{
    margin-top: 97px;
}
.left p{
    margin: 15px 0px;
}
.all{
    margin: 0 auto;
    text-align: center;
    display: flex;
column-gap: 30px;
justify-content: center;
flex-wrap: wrap;
}
.aw p{
width: 658px;
   
    margin: 0 auto;
}
.servis{
margin: 0 auto;
    text-align: center;
width: 1080px;
}
.servis h2{
    margin-top: 80px;
    font-size: 24px;
}
.all h3{
    margin-bottom: 15px;
font-size: 20px;
}
.logo1{
    margin: 0 auto;
    text-align: center;
    width: 320px;
    height: 260px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
.logo1:hover {
    box-shadow: 0px 12px 21px 0px rgba(0, 0, 0, 0.1);
    
}
.logo1:active{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);

}
.logo1 img{
    margin-top: 20px;
    margin-bottom: 12px;
}
.servis .btn{
    margin-top: 30px;
    margin-bottom: 30px;
}
footer{
    padding: 0 50px;
    width: 100%;
    max-width: 1440px;
    padding-bottom: 30px;
    display: flex;
    column-gap: 100px;
    background-color: black;
}
footer h3{
    font-size: 20px;
    color: white;
}
footer p{
    margin-top: 20px;
    line-height: 30px;
    font-weight: 400;
    color: white;
}
footer i{
    margin-top: 15px;
    color: white;
}
footer span{
    color: white;
}
.one{
    padding-top: 6px;
    margin-top: 58px;
 margin-left: 100px;
    width: 320px;
}
.two{
    margin-top: 56px;  
}
.three{
    margin-top: 56px;
}
.star ul{
    list-style: none;
}
.star ul li{
margin-top: 10px;
}

footer a{

    text-decoration: none;
    color: white;
}
footer a:hover{
    color: #00BAFC;
}
footer .telegram:active{
    color: #00BAFC;
    opacity: 0.7;
}
footer a:active{
    color: #00BAFC;
    opacity: 0.7;
}
@media screen and (max-width: 900px){
    header{
        padding: 0 20px;
    }
    header nav{
        margin-left: 40px;
    }
    header nav ul li{
        width: 100px;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .left{
        text-align: center;
    }
    .left h1{
        margin: 0 auto;
        width: 600px;
        margin-bottom: 10px;
    }
    .left p{
        margin: 0 auto;
        width: 500px;
    }
    .right{
        margin: 0 auto;
        margin-top: 20px;
    }
    .servis{
        width: 980px;
    }
    footer{
        padding: 20px 20px;
        column-gap: 50px;
    }
}
@media screen and (max-width: 400px){
    header{
        padding: 0 0;
    }
    header nav{
        margin-left: 0px;
    }
    header nav ul li{
        width: 42px;
    }
    header nav ul li .a{
        font-size: 12px;
    
    }
    .main{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        margin: 0 auto;
        padding: 10px 20px;
    }
    .servis{
        width: 100%;
    }
    .left{
        width: 300px;
        margin: 0 auto;
    }
    .left h1{
        width: 100%;
    }
    .left p{
        width: 100%;
    }
    .right img{
        width: 300px;
    }
    .btn{
        font-size: 6px;

    }
    .aw p{
        width: 100%;
        margin: 0 auto;
    }
    .aw{
        width:300px;
        margin: 0 auto;
    }
    .one{
        margin-left: -10px;
    }
}